<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <nav>
    <%- include('nav_template',{user_name}) -%>
    </nav>
    <h1><%= title%></h1>
    <%- include('list_template',{context}) -%>
    <%- include('pagination_template',{pages,curPage}) -%>
    <% if(mapData){ %>
    <%- include('gmap_template',{mapData}) -%>
    <% } %>
    </body>
</html>