<%if(context.length==1 && user_name==context[0].owner){%>
    <span>do you want to: </span><a href="/restaurant/update/<%= context[0]._id%>"><label>update</label></a><a href="/restaurant/delete/<%= context[0]._id%>"><label>delete</label></a></li>
<%} else if(user_name && !isRated){%>
    <form action="/restaurant/rate/<%= context[0]._id%>">
        <label>rate this restaurant: </label>
        <select name="rate">
        <% for(i=1;i<=10;i++){ %>
        <option value ="<%= i%>"><%= i%></option>
        <% } %>
        </select>
        <input type="submit" value="rate">
    </form>
<%} else if(isRated){%>
<p>you have rated</p>
<%}%>