<% var owner=`${context[0].owner}`%>
<%if(context[0].hasOwnProperty('_id') && owner.indexOf(user_name) && user_name){%>
    <span>do you want to: </span>
    <a href="/restaurant/update/<%= `${context[0]._id}`.substring(12)%>"><label>update</label></a>
    <a href="/restaurant/delete/<%= `${context[0]._id}`.substring(12)%>"><label>delete</label></a></li>
<%} else if(context[0].hasOwnProperty('_id')&&user_name && !isRated){%>
    <form action="/restaurant/rate/<%= `${context[0]._id}`.substring(12)%>">
        <label>rate this restaurant: </label>
        <select name="rate">
        <% for(i=1;i<=10;i++){ %>
        <option value ="<%= i%>"><%= i%></option>
        <% } %>
        </select>
        <input type="submit" value="rate">
    </form>
<%} else if(context[0].hasOwnProperty('_id')&&isRated){%>
<p>you have rated</p>
<%}%>