<% if(!context){
    var context = {
        restaurant_id: '',
        name: '',
        borough: '',
        cuisine: '',
        address: {
            street: '',
            building: '',
            zipcode: '',
            coord: []
        },
    }
}else{
    if(!context.hasOwnProperty('restaurant_id')) context['restaurant_id']=''
    if(!context.hasOwnProperty('borough')) context['borough']=''
    if(!context.hasOwnProperty('cuisine')) context['cuisine']=''
    if(!context.hasOwnProperty('address')){ context['address']={street:'',building:'',zipcode:'',coord:['','']}
    }else{
        if(!context.address.hasOwnProperty('street')) context['address']['street']=''
        if(!context.address.hasOwnProperty('building')) context['address']['building']=''
        if(!context.address.hasOwnProperty('zipcode')) context['address']['zipcode']=''
        if(!context.address.hasOwnProperty('coord')) context['address']['coord']=['','']
    }
}%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>input restaurant information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <nav>
        <%- include('nav_template',{user_name}) -%>            
        </nav>
    </header>
    <% if(create){ %>
        <h1>Create a restaurant</h1>
        <h3>Hey, you are the owner</h3>
    <% }else if(update){ %>
        <h1>Update your restaurant</h1>  
        <h3>You are the owner</h3>
    <% } else{ %>
        <h1>Search restaurant</h1>
        <h3>fill keywords into the form</h3>
    <% } %>

    <% if(create){ %>
        <form method="post" action="/restaurant/create" enctype="multipart/form-data">
    <%} else if(update){ %>
        <form method="post" action="/restaurant/update/<%= context._id%>" enctype="multipart/form-data">
    <% } else{ %>
        <form method="post" action="/restaurant/search">
    <% } %>

            <ul class="form-list">
                <li><label>restaurant id</label><input name="restaurant_id" type="text" value="<%= context.restaurant_id%>" /></li>
                <li><label>restaurant name</label><input name="name" type="text" value="<%= context.name%>" /></li>
                <li><label>borough</label><input name="borough" type="text" value="<%= context.borough%>" /></li>
                <li><label>cuisine</label><input name="cuisine" type="text" value="<%= context.cuisine%>" /></li>

                <% if(create||update){ %>
                    <li><label>photo</label><input name="photo" type="file"/></li>
                <% } else{ %>
                <li><label>owner</label><input name="owner" type="text"/></li>
                <% } %>
                <ul class="form-list">
                    <li><label>address</label>
                    <ul class="form-list">
                        <li><label>street</label><input name="street" type="text" value="<%= context.address.street%>" /></li>
                        <li><label>building</label><input name="building" type="text" value="<%= context.address.building%>" /></li>
                        <li><label>zipcode</label><input name="zipcode" type="text" value="<%= context.address.zipcode%>" /></li>
                        <li><label>coord</label>
                            <ul class="form-list">
                                <li><label>x: </label><input name="coordx" type="text" value="<%= context.address.coord[0]%>"/><label>y: </label><input name="coordy" type="text" value="<%= context.address.coord[1]%>"/></li>
                            </ul>
                        </li>
                    </ul>
                </ul>

                <% if(create||update){ %>
                    <li><input type="submit" disabled="true" value="submit" /></li>
                <%} else {%>
                    <li><input type="submit" value="search" /></li>
                <% }%>
            </ul>
        </form>
    </body>
</html>
<% if(create||update){ %>
<script>
    function checkNull(){
        var button = document.getElementsByTagName('input')[10]
        if(!this.value){ 
            button.disabled = true
            return
        }
        button.disabled = false
    }
    var nameBox=document.getElementsByName('name')[0]
    nameBox.oninput=checkNull
</script>
<% } %>